# Template for production environment variables.
# Copy to .env and fill in values. NEVER commit .env to git.

# ── Django ────────────────────────────────────────────────────────────────────
SECRET_KEY=django-insecure-secret-key-CHANGE-IT
# for secret=key run `just secret-key` or `make secret-key`
DJANGO_SETTINGS_MODULE=config.settings.dev # change .dev to .prod for prod env
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0  # add domain
DEBUG=True
COMPRESS_ENABLED=True
COMPRESS_OFFLINE=True

# ── Database ──────────────────────────────────────────────────────────────────
# These are used by both Django (via DATABASE_URL or individual settings)
# and the postgres service itself to initialize the database. (prod only)
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=insecure-password-CHANGE-IT
POSTGRES_HOST=db
POSTGRES_PORT=5432

# ── Email ─────────────────────────────────────────────────────────────────────
EMAIL_HOST=smtp.youremailprovider.com
EMAIL_PORT=587
EMAIL_HOST_USER=you@yourdomain.com
EMAIL_HOST_PASSWORD=your-smtp-password
DEFAULT_FROM_EMAIL=you@yourdomain.com
CONTACT_EMAIL=you@yourdomain.com

# ── Others ────────────────────────────────────────────────────────────────────
# Suppressing mkdocs warning
NO_MKDOCS_2_WARNING=1
