{% extends "4xx_base.html" %}
{% load i18n %}

{% block title %}403 - {% trans "Access denied" %} | Alessandro Kuz{% endblock %}
{% block meta_description %}{% trans "You don't have permission to access this page." %}{% endblock %}
{% block og_title %}403 - {% trans "Access denied" %} | Alessandro Kuz{% endblock %}

{% block error_code %}403{% endblock error_code %}
{% block error_heading %}
  {% trans "Access denied" %}
{% endblock error_heading %}
{% block error_description %}
  {% blocktrans %}You don't have permission to access this page. If you believe this is a mistake, feel free to get in touch.{% endblocktrans %}
{% endblock error_description %}

{% block button1 %}
  <a href="{% url 'core:home' %}" class="btn btn-primary">
    <i class="bi bi-house me-2" aria-hidden="true"></i>{% trans "Go home" %}
  </a>
{% endblock button1 %}
{% block button2 %}
  <a href="{% url 'core:contact' %}" class="btn btn-ghost">
    <i class="bi bi-envelope me-2" aria-hidden="true"></i>{% trans "Contact me" %}
  </a>
{% endblock button2 %}
