{% extends "4xx_base.html" %}
{% load i18n %}

{% block title %}410 - {% trans "Page gone" %} | Alessandro Kuz{% endblock %}
{% block meta_description %}{% trans "This page has been permanently removed." %}{% endblock %}
{% block og_title %}410 - {% trans "Page gone" %} | Alessandro Kuz{% endblock %}

{% block error_code %}410{% endblock error_code %}
{% block error_heading %}
  {% trans "Page permanently removed" %}
{% endblock error_heading %}
{% block error_description %}
  {% blocktrans %}This page has been intentionally and permanently removed, it won't be coming back. If you followed a link here, that link is now outdated.{% endblocktrans %}
{% endblock error_description %}

{% block button1 %}
  <a href="/" class="btn btn-primary">
    <i class="bi bi-house me-2" aria-hidden="true"></i>{% trans "Go home" %}
  </a>
{% endblock button1 %}
